.advantages {

    &__title {
        width: 430px;
        text-align: center;
        margin: 0 auto 70px;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.33;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__subtitle {
        position: relative;
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 20px;
        line-height: 1;
        text-align: center;
        color: #fff;

        &::before {
            content: '';
            margin: 0 auto 23px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 71px;
            height: 71px;
            background-color: #fff;
            border-radius: 50%;
            border: 2px solid rgba(42, 53, 61, 0.1);
            box-shadow: 0px 7px 12px rgba(12, 20, 61, 0.14);
        }

        &::after {
            content: '';
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }


    }

    &__item {
        width: 340px;
        padding: 53px 36px 42px;
        box-sizing: border-box;
        background-color: #02C768;
        border-radius: 15px 0;

        &:first-of-type {
            .advantages__subtitle {
                &::after {
                    width: 42px;
                    height: 42px;
                    top: 17px;
                    background-image: url('../../icon/timer.svg');
                }
            }
        }

        &:nth-of-type(2) {
            .advantages__subtitle {
                &::after {
                    width: 32px;
                    height: 39px;
                    top: 19px;
                    background-image: url('../../icon/initial/shield.svg');
                }
            }
        }

        &:nth-of-type(3) {
            .advantages__subtitle {
                &::after {
                    width: 39px;
                    height: 35px;
                    top: 21px;
                    background-image: url('../../icon/initial/home.svg');
                }
            }
        }
    }

    &__text {
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        text-align: center;
        color: #FFFFFF;
    }

    &__guarantee {
        padding: 78px 89px 105px 355px;
        box-sizing: border-box;
        border: 1px solid rgba(42,53,61,0.2);
        border-radius: 15px 0;
        margin-bottom: 142px;
    }
}

.guarantee {

    &__title {
        margin-bottom: 16px;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.3;
        color: #2A353D;
    }

    &__info {
        margin-bottom: 46px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.71;
        color: #2A353D;
        opacity: 0.8;
    }
}
