body {
    position: relative;
}

.modal {
    width: 369px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 57px 43px 52px;
    background-color: white;
    border-radius: 5px;
    z-index: 6;

    &.m-hidden {
        display: none;
    }

    &.m-scroll {
        position: absolute;
        top: 50px;
        transform: translate(-50%, 0);
        padding-left: 73px;
        padding-right: 73px;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 1;
        color: #2A353D;
        margin: 0 0 60px;
    }

    &__overlay {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: fixed;
        background-color: rgba(0,0,0,0.5);
        z-index: 5;

        &.m-hidden {
            display: none;
        }

        &.m-scroll {
            position: absolute;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    &__input {
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        width: 282px;
        line-height: 1.5;
        padding: 20px 0 10px;
        color: #2a353d;
        border: none;
        border-bottom: 1px solid #2A353D;
        outline: none;

        &:placeholder {
            color: rgba(42,53,61,0.5);
        }
    }

    &__btn {
        margin: 50px 0 15px;
        border: none;
        border-radius: 10px 0;
        padding: 15px 23px;
        font-weight: 600;
        font-size: 16px;
        line-height: 1;
        text-align: center;
        color: #FFFFFF;
        background-color: #F2994A;
        cursor: pointer;
        text-decoration: none;
    }

    &__policies {
        font-size: 10px;
        line-height: 1.4;
        color: rgba(42,53,61,0.5);
    }

    &__link {
        color: rgba(42,53,61,0.5);
    }

    &__close {
        display: block;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 30px;
        right: 25px;
        background-color: transparent;
        border: none;
        background-image: url('../../icon/cross.svg');
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.36;
        color: rgba(42,53,61,0.7);
    }

    &.m-large {
        width: 871px;

        .modal__btn {
            width: 100%;
            color: #2A353D;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,0.3);
        }
    }

    &__wrap {
        display: flex;
    }

    &__slider {
        width: 423px;
        height: 380px;
    }

    &.m-scroll {
        width: 871px;
        // height: calc(100vh - 30px);
        overflow-y: auto;

        .modal__form {
            width: 267px;
        }

        .modal__btn {
            margin-top: 15px;
        }
    }

    &__bubble {
        position: relative;
        padding: 16px 19px 19px 22px;
        background-color: #02C768;
        border-radius: 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        color: #FFFFFF;
        text-decoration: none;

        &::after {
            content: '';
            position: absolute;
            left: 25px;
            bottom: -10px;
            width: 20px;
            height: 20px;
            background-color: #02C768;
            transform: rotate(45deg);
        }
    }

    &__paragraph {
        font-size: 16px;
        line-height: 1.62;
        color: rgba(42,53,61,0.8);
    }

    &__title-text {
        font-weight: 600;
        font-size: 20px;
        line-height: 1;
        color: #2A353D;
    }
}

.modal-location {
    display: flex;
    border: 1px solid rgba(42,53,61,0.1);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.11)), drop-shadow(0px 15px 38px rgba(19, 44, 63, 0.07));
    border-radius: 5px;
    margin-bottom: 35px;

    &__left {
        padding: 39px 42px 27px 75px;
        width: 441px;
        padding-left: 75px;
        border-right: 1px solid rgba(42,53,61,0.1);
        box-sizing: border-box;
    }

    &__right {
        padding: 39px 42px 27px 75px;
    }

    &__subtitle {
        margin: 0;
        font-size: 14px;
        line-height: 1;
        color: rgba(0,0,0,0.4);
    }

    &__price {
        margin: 8px 0 0;
        font-size: 18px;
        line-height: 1;
        color: #2A353D;
    }

    &__item {
        margin: 0 0 4px;
        position: relative;
        font-size: 14px;
        line-height: 1;
        color: #2A353D;

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 18px;
            height: 24px;
            left: -34px;
            top: 50%;
            transform: translate(0, -50%);
            background-repeat: no-repeat;
            background-image: url('../../icon/modal/tram.svg');
        }

        &:first-of-type {
            margin-bottom: 34px;
            text-decoration: underline;

            &::before {
                background-image: url('../../icon/modal/marker.svg');
            }
        }
    }
}

.modal-card {
    margin-top: 25px;
    display: flex;
    align-items: center;

    &__img-wrap {
        margin-right: 18px;
        margin-bottom: 12px;
        border-radius: 50%;
        width: 68px;
        height: 68px;
        overflow: hidden;
    }

    &__name {
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        color: #2A353D;
    }

    &__status {
        margin: 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: rgba(42,53,61,0.5);
    }

    &__callback {
        margin: 0;
        font-size: 14px;
        line-height: 1.29;
        color: #2A353D;
    }
}

.modal-description {
    display: flex;
    margin-bottom: 45px;

    &__subtitle {
        position: relative;
        margin: 0;
        font-size: 14px;
        padding-left: 31px;
        line-height: 19px;
        color: rgba(42,53,61,0.5);

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 18px;
            height: 18px;
            left: 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../../icon/props/Clock.svg');
        }
    }

    &__item {
        width: calc(100% / 3);

        &:nth-of-type(2) {
            .modal-description__subtitle {
                &::before {
                    background-image: url('../../icon/props/Home.svg');
                }
            }
        }

        &:nth-of-type(3) {
            .modal-description__subtitle {
                &::before {
                    background-image: url('../../icon/props/tick.svg');
                }
            }
        }
    }

    &__info {
        margin: 0;
        padding-left: 31px;
        font-size: 14px;
        line-height: 22px;
        color: #2A353D;
    }
}

.modal-section {
    margin-top: 55px;

    &__title {
        margin: 0 0 25px;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.33;
        color: #2A353D;
    }

    &__tabs {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0 0 40px;
        border-bottom: 1px solid rgba(42,53,61,0.2);
    }

    &__tab {
        position: relative;
        padding: 25px 0;
        width: 25%;
        text-align: center;
        cursor: pointer;

        &.m-active {
            border-bottom: 4px solid #F2994A;
        }
    }

    &__item {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.11), 0px 15px 38px rgba(19, 44, 63, 0.07);
        border-radius: 5px;
        display: flex;
    }

    &__left {
        padding: 45px 35px 50px 35px;
        border-right: 1px solid rgba(42,53,61,0.1);
    }

    &__right {
        padding: 45px 45px 50px 45px;

        .residentials-props {
            margin: 0;

            &__item {
                margin-bottom: 14px;
            }

            &__subtitle {
                width: 120px;
            }
        }
    }

    &__discount {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    &__price {
        margin-right: 25px;
    }

    &__subtitle {
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: rgba(42,53,61,0.3);
    }

    &__info {
        margin: 0;
        font-weight: 500;
        font-size: 22px;
        line-height: 146.28%;
        color: #2A353D;
    }

    &__btn {
        margin: 0;
        font-size: 14px;
    }

    &__img-wrap {
        width: 224px;
        height: 147px;
        margin-bottom: 21px;
        overflow: hidden;

        img {
            object-fit: cover;
            object-position: center;
        }
    }

    &__other {
        display: block;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-decoration-line: underline;
        color: #2A353D;
    }
}
